<% include ../header %>
<header>
    <h1>Node-Chat</h1>
    <h4>Bem vindo!</h4>
</header>
<section>
    <form action="/entrar" method="post">
        <input type="text" name="usuario[nome]"
                placeholder="Digite o nome" value="jonathan">
        <br>
        <input type="text" name="usuario[email]"
                placeholder="Digite o email" value="jontopanotti@gmail.com">
        <button type="submit">Entrar</button>
    </form>
</section>
<% include ../footer %>